.modal{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Модальное окно */
.modal_content{
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 34px;
    padding-bottom: 34px;
    width: 736px;
    height: 814px;
    background: #FFFFFF;
    box-shadow: -10px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
} 
.modal_header,
.modal_footer{
    padding: 12px;
}

.modal_body{
    padding: 20px;
    /* border-top: 1px solid #eee;
    border-bottom: 1px solid #eee; */
}

.modal_footer{
    display: flex;
    justify-content: flex-end;
}
.btn{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 32px;
    width: 119px;
    height: 40px;
    background: #FFFFFF;

    border: 1px solid #909BB9;
    border-radius: 8px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #909BB9;
    cursor: pointer;
}
.btn:disabled{
    background: #909BB9;
    color: white;
}
.save_btn{
    margin-left: 24px; 
}
.btn:hover{
    background: #0749DC;
    color: #F1F2F4;
}
.modal_title{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 48px;
/* identical to box height, or 150% */

display: flex;
align-items: center;

/* Blue/60 */

color: #46588B;
}
.field2{
    padding: 20px 12px 8px 12px;
    gap: 10px;
    width: 100%;
    height: auto;
    background: #FFFFFF;
    border: 1px solid #DADEE8;
    border-radius: 12px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
align-items: center;
color: #909BB9;
margin-bottom: 16px;
}
/* .field2:hover{
    background: #ECF4FF;
    border: 1px solid #418BFE;
} */
.field2 option{
color: #46588B;
}
label[for=field2]{
    position: absolute;
    padding-left: 16px;
    padding-top: 3px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 16px;
align-items: center;
letter-spacing: 1px;
text-transform: uppercase;
color: #97C1FF;
}
.field{
    position: relative; 
}
.warningMark{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 16px;
align-items: center;
letter-spacing: 1px;
text-transform: uppercase;
color: #ff0000;
margin-right: 50px;

}
.modal_content.filter{
    width: 736px;
height: 620px;
}